<div class="section-title">Select Platform</div>
<div class="platform-grid">
    <div *ngFor="let platform of platforms" class="platform-option"
        [ngClass]="[platform.colorClass, selectedPlatform === platform.id ? 'selected' : '']"
        (click)="selectPlatform(platform.id)">
        <svg class="platform-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2">
            <path [attr.d]="platform.svgPath"></path>
        </svg>
        <div class="platform-name">{{ platform.name }}</div>
    </div>
</div>