<h1>{{title}}</h1>

<div class="intro-text">
  <p>Share your favorite social media content without revealing your personal profile information. This tool removes
    tracking parameters that platforms add to shared links.</p>
</div>

<div class="container">
  <div>
    <app-platform-selection [selectedPlatform]="selectedPlatform" (platformSelected)="onPlatformSelected($event)">
    </app-platform-selection>

    <app-link-input [selectedPlatform]="selectedPlatform" (linkChanged)="onLinkInput($event)">
    </app-link-input>

    <button (click)="anonymizeLink()">Anonymize Link</button>
  </div>

  <app-result *ngIf="showResult" [anonymizedLink]="anonymizedLink">
  </app-result>
</div>